*.o
*.ko
*.tar*
*.tgz

.built-in.a.cmd
.uharddoom.ko.cmd
.uharddoom.mod.cmd
.uharddoom.mod.o.cmd
.uharddoom.o.cmd
.uharddoom_module.o.cmd
Module.symvers
built-in.a
modules.order
uharddoom.mod
uharddoom.mod.c
